* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  background-color: rgb(24, 24, 24);
  color: rgb(225, 221, 212);
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.note {
  background-color: #555;
  padding: 1rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  max-width: 20rem;
  border-radius: 1rem;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#title {
  padding: 5px 10px;
  background-color: #777;
  outline: none;
  border: none;
}
#description {
  padding: 5px 10px;
  background-color: #777;
  outline: none;
  border: none;
}
#button {
  width: fit-content;
  border-radius: 10px;
  padding: 5px 15px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(14, 153, 14);
}

.btn {
  margin-top: 10px;
  margin-left: 10px;
  width: fit-content;
  border-radius: 10px;
  padding: 2px 4px;
  border: none;
  font-size: 1rem;
  background-color: rgb(14, 153, 14);
}

.del{
  background-color: red;
  color: white;
}

.btn:active{
  scale: 95%;
}

.update{
  display: none;
}

.btns{
  display: flex;
  gap: 10px;
}